.reviews {
  background-color: #f6f8fa;
  padding: 65px 16% 100px;
}

@media screen and (max-width: 1100px) {
  .reviews {
    padding: 65px 4% 100px;
  }
}

@media screen and (max-width: 760px) {
  .reviews {
    padding: 47px 20% 45px;
  }
}

@media screen and (max-width: 573px) {
  .reviews {
    padding: 47px 4% 45px;
  }
}

.reviews__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  margin: 0 auto 30px;
}
@media screen and (max-width: 600px) {
  .reviews__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
}

.reviews__name {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  margin-top: 22px;
}

.reviews__city {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #5e646a;
  margin-top: 2px;
}

.reviews__container-for-information {
  display: flex;
  margin-left: 22px;
  margin-right: 22px;
}

.reviews__text {
  max-width: 297px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 22px;
  margin-right: 22px;
}

.reviews__card {
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.1);
  width: 341px;
  min-height: 316px;
}

.reviews__wrapper {
  margin-left: 21px;
}

// стили для swiper

/* Стили для пагинации (точек) слайдера */
.swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.swiper-pagination-bullet {
  /* Стили для отдельных точек пагинации */

  width: 10px;
  height: 10px;
  background-color: #c2c8cd;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease;
  overflow: visible;

  &.swiper-pagination-bullet-active {
    /* Стили для активной точки пагинации */

    opacity: 1;
    background-color: #2a6cea;
  }
}

/* Стили для стрелок (навигации) слайдера */
.swiper-button-prev,
.swiper-button-next {
  /* Стили для стрелок */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: transparent;
  z-index: 10;
  transition: background-color 0.3s ease;
  color: #c2c8cd;
  &:hover {
    color: #2a6cea;
    overflow: visible;
  }
}

@media screen and (max-width: 1100px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

.swiper-button-prev {
  /* Стили для кнопки "назад" */
  // left: -10px;
}

.swiper-button-next {
  /* Стили для кнопки "вперед" */
  // right: -10px;
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  margin-right: 0;
}
