.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-top: 9px;
}

@media screen and (max-width: 1100px) {
  .header {
    margin-top: 20px;
  }
}

.header__logo-container {
  display: flex;
  max-width: 120px;
}

.header__logo {
  max-width: 118px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header__wrapper {
  max-width: 62%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

@media screen and (max-width: 1100px) {
  .header__wrapper {
    max-width: 96%;
  }
}

@media screen and (max-width: 600px) {
  .header__wrapper {
    max-width: 90%;
  }
}
