.header-nav__ul-burger {
  list-style: none;
  padding: 0;
}

.header-nav {
  list-style: none;
  padding: 0;
  display: flex;
}

.header-nav__link {
  text-decoration: none;
  color: white;
}

.header-nav__li {
  margin-left: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
